.list {
  margin-left: 10%;
  padding: 0px;
  list-style: none;

  width: 380px;
}

.line {
  padding-left: 7px;
  background-color: rgb(230, 229, 227);
  border-radius: 5px;
  border: gray solid 1px;
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}

.button {
  background-color: rgb(235, 108, 108);
  color: white;
  border-radius: 5px;
}
